.wrapper {
  width: 900px;
  margin: 0 auto;
}
body {
  background-color: #f0e0e0;
}
header {
  height: 40px;
  background-color: #c892c8;
}
header .wrapper {
  position: relative;
}
header .wrapper ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 10px;
}
header .wrapper ul li {
  height: 100%;
}
header .wrapper ul li a {
  padding: 10px 10px;
  margin: 0 10px;
  line-height: 40px;
  color: #4f4f4f;
}
header .wrapper ul li a:hover {
  position: relative;
  top: -2px;
  left: 0;
}
.nav {
  height: 70px;
  background-color: #cc99cc;
}
.nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.nav ul a,
.nav ul .myOrder {
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
}
.nav ul a.active,
.nav ul .myOrder.active {
  color: pink;
}
.nav ul a:hover,
.nav ul .myOrder:hover {
  position: relative;
  top: -2px;
  left: 0;
}
.nav ul li {
  position: relative;
}
.nav ul li .detile {
  display: none;
  position: absolute;
  top: 48px;
  left: 6px;
  border: 0;
  background-color: #c892c8;
  z-index: 1;
}
.nav ul li .detile a {
  display: block;
  padding: 20px 14px;
  border-bottom: 1px solid rgba(79, 79, 79, 0.5);
  text-align: center;
}
.nav ul li .detile a:hover {
  position: relative;
  top: 0;
  left: 0;
}
.nav ul li .detile a:last-child {
  border-bottom: 0;
}
.nav ul .logo {
  display: inline-block;
  margin-right: 10px;
  width: 72px;
  height: 63px;
  background-image: url(../images/透明2.png);
  vertical-align: middle;
}
footer {
  background-color: #CC99CC;
}
footer .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 14px;
  height: 70px;
  width: 780px;
  border-bottom: 2px solid #4f4f4f;
}
footer .top span {
  display: inline-block;
  height: 30px;
  width: 40px;
  background-image: url(../images/sprites.png);
  vertical-align: -8px;
}
footer .top p {
  display: inline-block;
  font-size: 18px;
  cursor: default;
}
footer .top .cheap > span {
  background-position: -10px -14px;
}
footer .top .high_quality > span {
  background-position: -72px -14px;
}
footer .top .fast > span {
  background-position: -140px -14px;
}
footer .bottom {
  height: 80px;
}
footer .bottom div {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  width: 330px;
  font-size: 18px;
}
footer .bottom div a {
  padding: 8px;
}
footer .bottom div a:hover {
  position: relative;
  top: -2px;
  left: 0;
}
footer .bottom p {
  text-align: center;
}
